.container {
  text-align: center;
}

.logo {
  width: 200px;
}

.container h2 {
  font-size: 3rem;
}

.container a {
  font-size: 1.4rem;
}

textarea {
  font-size: 4em;
  padding: 3px;
  width: 50rem;
}

button {
  margin: 2em;
}

.correct {
  font-size: 3em;
  background-color: #4CAF50;
}
.incorrect {
  font-size: 3em;
  background-color: #f44336;
}
